@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap");

/* .card, .cards, .title, .title div, .price, .price div, .rank, .order, .pic {
    border: 1px solid blueviolet;
} */
body {
  font-family: "Oswald", sans-serif;
}
.cards {
  width: 1000px;
  height: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 300px;
  height: 675px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  align-content: flex-start;
}
.pic{
    height: 420px;
}
.pic > img:nth-child(2) {
  position: relative;
  /* z-index: 2; */
  top:-120px;
  /* margin-bottom: 60px; */
  left:10px;
}
.pic > img:nth-child(3) {
    position: relative;
    top:-310px;
    left:-15px;
    
  }
.title {
    /* margin-top: -100px; */
  width: 280px;
  height: 75px;
  background: #fff;
  color: #616161;
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
}
.price {
  width: 280px;
  height: 45px;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  /* align-content: space-around; */
}
.price > div {
  display: flex;
  align-items: center;
}
.price div:nth-child(even) {
  color: #868282;
  text-decoration: line-through;
  font-size: 19;
  font-weight: 600;
}
.price div:nth-child(odd) {
  color: #242323;
  font-size: 30;
  font-weight: 600;
}
.rank {
  height: 40px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.material-icons {
  color: #ffce00;
  font-size: 32px;
}
.order {
  height: 75px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}
